/*-------------------------------------------------------------------------*/
/*Reseteo*/
/*-------------------------------------------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}
/*-------------------------------------------------------------------------*/
/*Fuentes*/
/*-------------------------------------------------------------------------*/
@font-face {
    font-family: 'Titulo';
    src: url("Roboto-Bold.eot"); /* IE9*/
    src: url("Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Roboto-Bold.woff2") format("woff2"), /* chrome、firefox */    
    url("Roboto-Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("Roboto-Bold.svg#Acumin Variable Concept") format("svg"); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Principal';
    src: url("Roboto-Light.eot"); /* IE9*/
    src: url("Roboto-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */   
    url("Roboto-Light.woff") format("woff"), /* chrome、firefox */
    url("Roboto-Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("Roboto-Light.svg#Acumin Variable Concept") format("svg"); /* iOS 4.1- */
    font-weight: bold;
    font-style: bold;
}
/*Iconos*/